%(
is_home = urls.current_url() == urls.build('page', {'slug': 'index'})
site_title = db.get(
"""
SELECT source.*
FROM source
WHERE json_extract(source.metadata, '$.type') = 'page'
AND json_extract(source.metadata, '$.slug') = 'index'
""")["title"]
)
<!doctype html>
<html>
<head>
%def title():
%end
<title>
%if not is_home:
%title() -
%end
%site_title</title>
<link rel="stylesheet" href="%urls.build('static', {'path': 'base.css'})">
</head>
<body>
<main>
<h1>%title()</h1>
%def content():
%end
%content()
</main>
</body>
</html>
